<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88578037503-cqa4uutbvfv285qllonafpoo8fhom6p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88578037503-cqa4uutbvfv285qllonafpoo8fhom6p8</string>
	<key>GCM_SENDER_ID</key>
	<string>88578037503</string>
	<key>API_KEY</key>
	<string>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.dreipol.rezhycle</string>
	<key>PROJECT_ID</key>
	<string>rezhycle-2d2b9</string>
	<key>STORAGE_BUCKET</key>
	<string>rezhycle-2d2b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88578037503:ios:3ec7d63ea57939592a9eca</string>
</dict>
</plist>
